body {
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

.column {
  width: 25%;
  justify-content: center;
}

h1 {
  text-align: center;
}

.todoItem {
  text-align: center;
  padding: 1rem;
}
