body {
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

.column {
  width: 25%;
  justify-content: center;
}

h1 {
  text-align: center;
}

.todoItem {
  text-align: center;
  padding: 1rem;
}

.dimmed {
  background: rgba(40, 40, 40, 0.5);
  color: #dd8888;
}
